---
import Layout from "@/layouts/Layout.astro";
const headTitle = "Images";

import { getCollection, render } from "astro:content"

import { Image } from "astro:assets";
// Add direct CDN image imports
const cdnBase = "https://cdn.bravegrumpy.com/AO3Styles/images/";
const apiBase = `${Astro.site}/api/images/`;

const urlBase = [cdnBase, apiBase];

const AiImagaes = await getCollection('gallery_ai');

// const imgSize = 300;

import { NavBar } from "@/components/react/Navigation";

import { otherSecLinks } from "@/scripts/data"

const links = JSON.parse(JSON.stringify(otherSecLinks))
links[1].active = true;

import Article from "@/components/Article.astro"

---

<Layout headTitle={headTitle}>
    <div slot="pageTitle">
        <NavBar title={"Gallery"} links={links} />
    </div>
    <div class="title">
        <h2 id="aiTitle" class="text-gradient title-text">AI Generated Images</h2>
        <p><span class="disclaimer">Disclaimer: </span>The images shown on this page are AI generated. This does not mean that any generative technology is endorsed.  AI content There is no other computer-generated content on this website.</p>
    </div>
    
    <article class="article chapter" id="aiContent">
        <section id="marker"></section>
        {
            AiImagaes.map(async (img) => {
                const { Content } = await render(img);
                return (<>
                    <section class="image">
                        <h2>{img.data.title}</h2>
                        { img.data.subtitle ? <p>{img.data.subtitle}</p> : <></>}
                        <Image src={`${urlBase[1]}${img.data.img.url}`} alt={img.data.img.alt} width={img.data.img.size} height={img.data.img.size} />
                        <Content />
                    </section>
                </>);
            })
        }
    </article>
</Layout>

<style>
    div.title {
        width: fit-content;
        margin: 0px auto;
    }
    div.title h2.title-text {
        text-align: center;
        margin: 25px auto;
        font-size: 3.0rem;
    }
    span.disclaimer {
        font-family: "Delius", "Georgia", "sans" !important;
        font-size: 1.25rem;
        font-weight: 700;
    }
    .article {
        margin-top: 20px;
        display: grid-lanes;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
    .image {
        width: 100%;
        background-color:  #25e9e910;;
    }
    .description {
        grid-column: 1 / -1;
        background-color: #6593de30;
    }
    .description h2 {
        text-align: center;
    }
    .description p {
        text-indent: 40px;
        line-height: 2rem;
    }

    @media (max-width: 900px) {
        .article {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 600px) {
        .article {
            grid-template-columns: 1fr;
        }
    }
</style>
