---
import Layout from "@/layouts/Layout.astro";
const headTitle = "Images";

import { getCollection, render } from "astro:content"

import { Image } from "astro:assets";
// Add direct CDN image imports
const cdnBase = "https://cdn.bravegrumpy.com/AO3Styles/images/";
const apiBase = `${Astro.site}/api/images/`;

const urlBase = [cdnBase, apiBase];

const AiImagaes = await getCollection('gallery_ai');

// const imgSize = 300;

import { NavBar } from "@/components/react/Navigation";

import { otherSecLinks } from "@/scripts/data"

const links = JSON.parse(JSON.stringify(otherSecLinks))
links[1].active = true;

import Article from "@/components/Article.astro"

---

<Layout headTitle={headTitle}>
    <div slot="pageTitle">
        <NavBar title={"Gallery"} links={links} />
    </div>

    <article class="article chapter">
        {
            AiImagaes.map(async (img) => {
                const { Content } = await render(img);
                return (<>
                    <section class="image">
                        <h2>{img.data.title}</h2>
                        { img.data.subtitle ? <p>{img.data.subtitle}</p> : <></>}
                        <Image src={`${urlBase[1]}${img.data.img.url}`} alt={img.data.img.alt} width={img.data.img.size} height={img.data.img.size} />
                        <Content />
                    </section>
                </>);
            })
        }
    </article>
</Layout>

<style>
    .article {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: masonry;
        gap: 60px;
    }
    .image {
        width: 100%;
        background-color:  #25e9e910;;
    }
    .description {
        grid-column: 1 / -1;
        background-color: #6593de30;
    }
    .description h2 {
        text-align: center;
    }
    .description p {
        text-indent: 40px;
        line-height: 2rem;
    }

    @media (max-width: 900px) {
        .article {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 600px) {
        .article {
            grid-template-columns: 1fr;
        }
    }
</style>
