---
import BlogLayout from "@/layouts/BlogLayout.astro"
import { XataClient } from "@/xata";

export async function getStaticPaths() {
    const xata = new XataClient({
        apiKey: import.meta.env.XATA_API_KEY,
        branch: import.meta.env.XATA_BRANCH
    });

    const posts = await xata.db.posts.getAll();

    const routes: any = posts.map((post) => {
        return {
            params: { slug: post.slug },
            props: {
                title: post.title,
                author: post.author,
                text: post.text,
                created_at: post.created_at,
            },
        }
    });
    return routes;
}

const xata = new XataClient({
    apiKey: import.meta.env.XATA_API_KEY,
    branch: import.meta.env.XATA_BRANCH
});

const { slug } = Astro.params;

const posts = await xata.db.posts.filter({ 'slug': slug }).getAll();

const post = {
    title: posts[0]?.title,
    created_at: posts[0]?.created_at,
    text: posts[0]?.text

}

export const prerender = true;
---

<BlogLayout title={post.title}>
    {
        posts.map((post) => (<>
            <div class="w-full max-w-5xl mt-16">
                <p class="mb-2">
                    <a href="/blog" class="text-purple-600">
                        &larr; Back to blog;
                    </a>
                </p>

                <h1 class="tet-3xl mb-2">{post.title}</h1>
                <p class="text-sm mb-4">Current Location: {slug}</p>
                <p class="text-sm mb-4 text-purple-950 dark:text-purple-200"></p>
            </div>
        </>))
    }
    <div class="w-full max-w-5xl mt-16">
        <p class="mb-2">
            <a href="/blog" class="text-purple-600">
                &larr; Back to blog;
            </a>
        </p>

        <h1 class="text-3xl mb-2">{post?.title}</h1>
        <p>Current location: {slug}</p>
        <p class="text-sm mb-4 text-purple-950 dark:text-purple-200">
            {post?.created_at}
        </p>
        <p class="text-xl">{post.title}</p>
        <p>{post.text}</p>
    </div>
</BlogLayout>