---
import BlogLayout from '@/layouts/BlogLayout.astro';

import { Button } from "@/components/react/ui/button"

import { XataClient } from '@/xata';

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH
});

let posts = await xata.db.posts.getAll();
---

<BlogLayout title="Get started with Xata and Astro">
  <div class="w-full max-w-5xl mt-16">
    <Button variant='secondary' size="lg" >This is a button</Button>
    {posts.length === 0 && <p>No blog posts found</p>}
    {posts.map((post) => (
      <div class="mb-16">
        <p class="text-xs mb-2 text-purple-950 dark:text-purple-200">
          {post.created_at}
        </p>
        <h2 class="text-2xl mb-2">
          <a href={`/blog/${post.slug}`}>{post.title}</a>
        </h2>
        <p class="text-purple-950 dark:text-purple-200 mb-5">
          By: {post.author.id}
        </p>
        <a
          href={`blog/${post.slug}`}
          class="px-4 py-2 font-semibold text-sm bg-purple-700 text-white rounded-lg shadow-sm w-fit"
        >
          Read more &rarr;
        </a>
      </div>
    ))}
  </div>
</BlogLayout>