---
import { Debug } from "astro:components";
import Layout from "@/layouts/Layout.astro"
const headTitle = "Home | Merther";
const pageTitle = "Merther Fanfiction";
const author = null;
import { mainLinks } from "@/scripts/data.js";
import { getCollection, render } from "astro:content";

import Article from "@/components/Article.astro"

import WorkList from "@/pages/pages/content/introduction.mdx"

import { Content as Explicit, frontmatter as explfm}  from "@/pages/pages/content/explicit.mdx"
import { Content as Mature, frontmatter as matfm } from "@/pages/pages/content/mature.mdx";
import { Content as General, frontmatter as genfm } from "@/pages/pages/content/general.mdx"

const Resources = await getCollection('resources')

import { Image } from "astro:assets"

const siteURL = String(Astro.site);

const renderType = import.meta.env.RENDER_TYPE as string;



---

<Layout headTitle={headTitle} pageTitle={pageTitle} author={author} mainLinks={mainLinks}>
    <Article>
        <script is:inline>

            function displayConstructionParagraph() {
                const para = document.getElementById("construction-paragraph");
                if (para) {
                    if (para.style.display === "none") {
                        para.style = undefined;
                    } else {
                        para.style.display = "none";
                    }
                }
            }
        </script>
        <div class="under-construction">
            <button class="menu chnav back-to-top" id="construction-button" onclick="displayConstructionParagraph()">
            <Image src="https://geekring.net/img/undercon.gif" width="50" height="50" alt="Under Construction Gif" />
            </button>
            <p style="display: none" class="construction-paragraph" id="construction-paragraph">This page is <em>always</em> updating and changing, so I guess here is my obligitary &ldquo;old-web&rdquo; under construction disclaimer 😉 </p>
            {
                renderType === "ssg" ? 
                    (<>
                        <hr />
                        <div>
                            <script src="https://ficring.neocities.org/ring.js" is:inline></script>
                        </div>
                    </>) :
                    (<>
                        <p>{renderType}</p>
                    </>)
            }
        </div>
    </Article>
    <hr class="section" />
    <div class="chapter">
        <Article articleId="worksList">
                <WorkList />
        </Article>
        <hr class="section">
        <Article>
            <Explicit />
            <hr />
            <Mature />
            <hr />
            <General />
        </Article>
    </div>
    <!-- <hr /> -->
    <!-- <div class="links">
        {
            Resources.map(async (list) => {
                const { Content } = await render(list);
                return (<>
                    <Article>
                        <Content />
                    </Article>
                </>);
            })
        }
    </div> -->
</Layout>

<style>
    div.chapter {
        width: calc(100% - 20px);
    }
    .chapter hr.section {
        width: calc(100% + 60px);
    }
    .links {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px,1fr));
        grid-template-rows: masonry;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        gap: 20px;
        /* justify-content: space-evenly; */
        /* align-items: flex-start; */
        /* height: 80ch; */
    }
</style>
<style is:global>
    .under-construction {
        background-color: oklch(83.439% 0.14645 91.939 / 0.103);
        border-radius: 5px;
        width: 50%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 20px;
        border: 2px ridge rgba(31, 7, 51, 0.452);
        padding: 20px 50px;
    }
    .under-construction p {
        width: 200px;
        background-color: rgba(235, 205, 171, 0.623);
        border-radius: 5px;
        border: 2px solid oklch(16.336% 0.06994 299.02 / 0.582);
        padding: 10px;
    }
    .links article {
        border-inline: 20px outset #6848390f;
        border-block: 4px dotted #ed052318  ;
        /* flex-grow: 2; */
        /* background-color: #6299dc60; */
        width: fit-content;
        height: fit-content;
    }
</style>