---
import { Icon } from "astro-icon/components"
const { previous='', next='', size='24', previousIcon='hugeicons:arrow-left-04', backToTopIcon = "hugeicons:arrow-up-04", nextIcon="hugeicons:arrow-right-04", other, chapterId, otherButton=true } = Astro.props;
---

<div class="end">
    <hr class="middle" />
    <div class="chapter-postnav">
        {
            previous === '' ? (<p class="menu chnav fake-btn">
                <Icon name={previousIcon} width={size} height={size} />
            </p>) : (<>
                <span class="menu-shadow">
                    <a href={previous} class="menu chnav button">
                        <Icon name={previousIcon} width={size} height={size} />
                    </a>
                </span>
            </>)
        }
            <span class="menu-shadow">
                <a href="#" class="menu chnav button">
                    <Icon name={backToTopIcon} width={size} height={size} />
                </a>
            </span>
        {
            next === '' 
                ? (<>
                    <p class="menu chnav fake-btn"><Icon name={nextIcon} width={size} height={size} /></p>
                </>) 
                : (<>
                    <span class="menu-shadow">
                        <a href={next} class="menu chnav button">
                            <Icon name={nextIcon} width={size} height={size} />
                        </a>
                    </span>
                </>)
        }
    </div>
    <hr />
    <div class="other">
        {
            otherButton ? other === 'single' ?  <a class="menu chnav button" href={`/misunderstood/simple/${chapterId}`}>Single Chapter</a> : <a class="menu chnav button"href={`/misunderstood/simple${chapterId}`}>Entire Work</a> : <></>
        }
    </div>
</div>


<style>
.middle {
    position: sticky;
    bottom: 75px;
}
.end {
    background-color: #ff03;
    position: sticky;
    bottom: -75px;
    /* bottom: -53px; */
    /* top: 50px; */
    background-color: rgba(162, 143, 124, 98%);
}
.chapter-postnav {
    /* background-color: #f0f2; */
    width: calc(100% + 60px);
    margin-left: -40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: 
        linear-gradient(to right, #a28f7c86 80%, transparent 110%),
        linear-gradient(to right, #c06f40a9, transparent, #db874f7e),
        repeating-linear-gradient(-30deg, #d3872350, 20%, transparent 90%),
        linear-gradient(45deg, transparent 40%, #f0cf9396),
        /* repeating-linear-gradient(to right, #cf865b00 0%, #c7b17400 15%, #cf86500 30%), */
        linear-gradient(to top, #0003, #fff3),
        url("/api/images/textures/TCom_PaperPage0016_2_masked_XXL_cropped.png"),
        linear-gradient(to right, #b1917380, #3a2b1c50);
    background-size: contain;
    background-position-y: center;
}
.button {
    text-indent: 0;
    height: max-content;
}
.other {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 40px auto;
}
p  {
    margin-top: 0px;
    margin-bottom: 0px;
}
@media (max-width: 600px) {
    .end {
        position: relative;
        display: none;
    }
}
@media (max-width: 300px) {
    .end {
        display: flex;
        flex-direction: column;
    }

    .chapter-postnav {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center; 
    }
    .middle {
        display: none;
    }
}
</style>