---
import { Debug } from "astro/components"
import "@fontsource/mr-bedfort"; import "@fontsource/caudex";
import "@fontsource/gloria-hallelujah"; import "@fontsource/cedarville-cursive";
import Layout from "@/layouts/Layout.astro"
import { secondaryLinks } from "@/scripts/data";
const bravegrumpyLink = "https://archiveofourown.org/users/Bravegrumpy/pseuds/BraveGrumpy"

const pageTitle = "Misunderstood";
const headTitle = "Misunderstood | Merther"

import Article from "@/components/Article.astro";

import { Chapter, ChapterNav } from "@/components/react/Chapters"

import { StyleToggle } from "@/components/react/Navigation"

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc"
dayjs.extend(utc)

import { getCollection, render } from "astro:content"

const Misunderstood = await getCollection('misunderstood')

Misunderstood.sort((a, b) => a.data.chapter - b.data.chapter)

const chapters = Misunderstood.map((ch) => ch.data);

---
<Layout headTitle={headTitle} pageTitle={pageTitle} secondaryLinks={secondaryLinks} bottomLine={true} link={bravegrumpyLink} >
    <StyleToggle slot="header" client:load />
    <ChapterNav chapters={chapters} client:only="react"/>
    <hr class="section" />
    <Article>
         <div class="chapter-preamble latest-chapter">
            <h2 class="text-gradient" style="padding-left: 20px">Latest Chapter: </h2>
            <h3>
                <a href="#ch06" style="color: #2e045e; font-family: 'Delius', 'Recursive', 'Georgia';">Chapter 6: Necessary</a>
            </h3>
            <div></div>
         </div>
         <p class="banner">For best results, view this content on a screen with resolution at least 1440px x 1080px </p>
    </Article>
    {
        Misunderstood.map(async (chapter) => {
            const { Content, remarkPluginFrontmatter } = await render(chapter);
            const previous = Misunderstood[chapter.data.chapter - 2] ? Misunderstood[chapter.data.chapter - 2].data.href : '';
            const next = Misunderstood[chapter.data.chapter] ? Misunderstood[chapter.data.chapter].data.href : '';
            const lastModified = dayjs(remarkPluginFrontmatter.lastModified).utc();
            const readingTime = remarkPluginFrontmatter.minutesRead;
            return (<>
                <hr class="section" />
                <Chapter articleId={chapter.data.id} chapterNameHeading={chapter.data.title} previousChapterSrc={previous} nextChapterSrc={next}>
                    <div>
                        <p><span class="notes">Last Modified:</span> {lastModified.format('dddd, DD MMMM YYYY')} at {lastModified.format('hh:mm a')}</p>
                        <p><span class="notes">Reading Time:</span> {readingTime}</p>
                    </div>
                    <Content />
                </Chapter>
            </>);
        })
    }
</Layout>

<style>
    .chapterStats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 80ch;
    }
    .text {
        width: fit-content;
        font-family: "Delius", "Recursive";
    }
    .notes {
        font-family: "Delius";
        font-size: 1.2rem;
    }
    @media print {
        .chapterStats, .text, .notes {
            display: none;
        }
    }
</style>
<style is:global>
    @media print {
        .byline {
            display: none;
        }
    }
</style>