---
import { Debug } from "astro/components"
import "@fontsource/mr-bedfort"; import "@fontsource/caudex";
import "@fontsource/gloria-hallelujah"; import "@fontsource/cedarville-cursive";
import Layout from "@/layouts/Layout.astro"
import { secondaryLinks } from "@/scripts/data";
const bravegrumpyLink = "https://archiveofourown.org/users/Bravegrumpy/pseuds/BraveGrumpy"

import { Icon } from "astro-icon/components";
const pageTitle = "Misunderstood";
const headTitle = "Misunderstood | Merther"

import Article from "@/components/Article.astro";

import { Chapter, ChapterNav, ChapterInfo } from "@/components/react/Chapters"
import ChapterPostnav from "@/components/ChapterPostnav.astro"
import { Banner, FallbackContent } from "@/components/react/Components"
import { StyleToggle } from "@/components/react/Navigation"

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc"
import advancedFormat from "dayjs/plugin/advancedFormat";
dayjs.extend(utc)
dayjs.extend(advancedFormat);

import { getCollection, render, getEntry } from "astro:content"

const Misunderstood = await getCollection('misunderstood');

Misunderstood.sort((a, b) => a.data.chapter - b.data.chapter)

const chapters = Misunderstood.map((ch) => ch.data);
const latestChapter = chapters.length - 1;

const bigSummary = await getEntry('misunderstood_summary', '00_misunderstood');

let Summary;
bigSummary ? { Content: Summary } = await render(bigSummary): Summary = FallbackContent;

const bigNotes = await getEntry('misunderstood_notes', '00_misunderstood');

let Notes;
bigNotes ? { Content: Notes } = await render(bigNotes) : Notes = FallbackContent;

const AO3TagList = [
    "Explicit",
    "Rape/Non-Con", "Graphic Depictions Of Violence", "Underage Sex", "Major Character Death",
    "F/F", "F/M", "M/M",
    "Work in Progress",
    "Rape/Non-Con", "Graphic Depictions Of Violence", 
    "Underage Sex Major Character DeathFreya/Merlin (Merlin)", 
    "Merlin/Arthur Pendragon (Merlin)",
    "Gwen/Lancelot (Merlin)",
    "Lancelot & Merlin (Merlin)",
    "Freya/Gwen (Merlin)",
    "George & Leon (Merlin)",
    "Lancelot / Merlin / Freya / Gwen / LancelotMerlin (Merlin)",
    "Freya (Merlin)", 
    "Arthur Pendragon (Merlin)",
    "Gwen (Merlin)",
    "Lancelot (Merlin)",
    "Leon (Merlin)",
    "George (Merlin)",
    "Gwaine (Merlin)",
    "Percival (Merlin)",
    "Hurt/Comfort", 
    "Lancelot is alive", 
    "Canon Era Everyone Knows About Merlin's Magic Except Arthur Pendragon (Merlin)",
    "CPTSD", 
    "Post-Traumatic Stress Disorder - PTSD",
    "recovering from trauma",
    "Dark Arthur Pendragon (Merlin)",
    "Polyamory Kink Hurt Merlin (Merlin)",
    "Explicit Sexual Content", 
    "Mildly Dubious Consent", 
    "Smut", 
    "Angst",
    "Porn With Plot", 
    "Rape/Non-con Elements", 
    "King Arthur Pendragon (Merlin)",
    "Abusive Relationships", 
    "Abusive Arthur Pendragon (Merlin)",
    "Not Beta Read", "Rape", "Non-Consensual Oral Sex", "Abuse of Authority", "Graphic Rape/Non-Con", "Power Imbalance", "Non-Consensual Touching", "Psychological Horror", "Power Exchange", "Power Dynamics", "Slow Build", "Plot",  "Dom/sub", "BDSM", "Blow Jobs", "Oral Sex", "Rough Oral Sex", "Rough Sex", "Humiliation", "The dub-con and rape are for distinct events", "hurt and comfort are by different people", "rhe same sex acts can occur in both consensual and non consensual contexts", "Kinky power exchange is not the same is non con", "Dissociation", "Hurt No Comfort", "Rape Fantasy", "Femdom","Underage Rape/Non-con", "Sibling Incest" ]
---
<Layout headTitle={headTitle} pageTitle={pageTitle} secondaryLinks={secondaryLinks} bottomLine={true} link={bravegrumpyLink} >
        <h2>Tags</h2>
        <ul>
            {AO3TagList.map((tag) => <li>{tag}</li>)}
        </ul>
        <h2>Summary</h2>
        <Summary />
        <h2>Notes</h2>
        <Notes />
    <hr class="section" />
    <StyleToggle slot="header" client:only="react" />
    <Article>
        <div class="chapter-preamble-shadow">
            <div class="chapter-preamble latest-chapter">
                <h2 class="text-gradient" style={{paddingLeft:"20px"}}>Latest Chapter: </h2>
                <h3>
                    <a href={chapters[latestChapter].href} 
                        style={{ color: "#2e045e", fontFamily: "'Delius', 'Recursive',  'Georgia'"}}>{chapters[latestChapter].title}</a>
                </h3>
                <div></div>
            </div>
         </div>
         <Banner />
    </Article>
    <hr class="section" />
    <ChapterNav chapters={chapters} icons={true} client:load/>
    {
        Misunderstood.map(async (chapter) => {
            const { Content, remarkPluginFrontmatter } = await render(chapter);
            const previous = Misunderstood[chapter.data.chapter - 2] ? `/misunderstood/simple/${Misunderstood[chapter.data.chapter - 2].data.href}` : '';
            const next = Misunderstood[chapter.data.chapter] ? `/misunderstood/simple/${Misunderstood[chapter.data.chapter].data.href}` : '';
            const lastModified = dayjs(remarkPluginFrontmatter.lastModified).utc();
            const readingTime = remarkPluginFrontmatter.minutesRead;
            const pubDate = dayjs(chapter.data.pubDate).utc()
            return (<>
                <Chapter articleId={chapter.data.id} chapterNameHeading={chapter.data.title} previousChapterSrc={previous} nextChapterSrc={next} preambleTopLine="start" anchorClass="menu back-to-top" backToTopButton={false}>
                    <span slot="previousIcon">
                        <Icon name="hugeicons:arrow-turn-backward" width={32} height={32} aria-labelledby="Previous Chapter" />
                    </span>
                    <span slot="nextIcon">
                        <Icon name="hugeicons:arrow-turn-forward" width={32} height={32} aria-labelledby="Next Chapter" />
                    </span>
                    {/* <span slot="backToTopIcon"> */}
                        {/* <Icon name="hugeicons:transition-top" width={32} height={32} /> */}
                    {/* </span> */}
                    <ChapterInfo readingTime={readingTime} pubDate={pubDate} href={`/misunderstood/simple/${chapter.id}/`} AnchorText="all" published={chapter.data.published} />
                    <a slot="lastChild" href={`/misunderstood/print/${chapter.data.href}`} aria-label="print preview" id={`${chapter.id}PrintLink`} class="menu chnav chnav-start">
                        <Icon name="hugeicons:printer" width="24" height="24" />
                    </a>
                    <Content />
                    <ChapterPostnav previous={previous} next={next} other="single" chapterId={chapter.id} size={32} backToTopIcon="hugeicons:arrow-up-03" previousIcon="hugeicons:arrow-turn-backward"
                    nextIcon="hugeicons:arrow-turn-forward" />
                </Chapter>
            </>);
        })
    }
</Layout>

<style>
    #printLink {
        padding-top: 20px;
    }
    .spacer {
        width: 500px;
        height: 20px;
    }
    .chi {
        width: calc(100% + 60px);
        margin-left: -40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .chb {
        vertical-align: middle;
        font-family: 'Delius';
        font-size: 1.2rem;
        text-decoration: none;
        color: currentColor;
    }
    a.chb {
        text-decoration-line: overline underline;
        text-decoration-style: wavy;
        text-decoration-thickness: 3px;
        text-decoration-color: #677040;
    }
    a.chb:hover, a.chb:focus {
        scale: 110%;
        color: #00f;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: 3px;
    }
    .chapterStats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 80ch;
    }
    .text {
        width: fit-content;
        font-family: "Delius", "Recursive";
    }
    .notes {
        font-family: "Delius";
        font-size: 1.2rem;
    }
    @media print {
        .byline, .chi, .cbh, .chapterStats, .text, .notes {
            display: none;
        }
    }
</style>
<style is:global>
    @media print {
        .byline {
            display: none;
        }
    }
</style>
