---
import { Debug } from "astro/components"
import "@fontsource/mr-bedfort"; import "@fontsource/caudex";
import "@fontsource/gloria-hallelujah"; import "@fontsource/cedarville-cursive";
import Layout from "@/layouts/Layout.astro"
import { secondaryLinks } from "@/scripts/data";
const bravegrumpyLink = "https://archiveofourown.org/users/Bravegrumpy/pseuds/BraveGrumpy"

import { Icon } from "astro-icon/components";
const pageTitle = "Misunderstood";
const headTitle = "Misunderstood | Merther"

import Article from "@/components/Article.astro";

import { Chapter, ChapterNav } from "@/components/react/Chapters"
import { Banner } from "@/components/react/Components"
import { StyleToggle } from "@/components/react/Navigation"

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc"
dayjs.extend(utc)

import { getCollection, render } from "astro:content"

const Misunderstood = await getCollection('misunderstood')

Misunderstood.sort((a, b) => a.data.chapter - b.data.chapter)

const chapters = Misunderstood.map((ch) => ch.data);
const latestChapter = chapters.length - 1;
---
<Layout headTitle={headTitle} pageTitle={pageTitle} secondaryLinks={secondaryLinks} bottomLine={true} link={bravegrumpyLink} >
    <StyleToggle slot="header" client:only="react" />
    <ChapterNav chapters={chapters} client:only="react"/>
    <hr class="section" />
    <Article>
         <div class="chapter-preamble latest-chapter">
            <h2 class="text-gradient" style="padding-left: 20px">Latest Chapter: </h2>
            <h3>
                <a href={chapters[latestChapter].href} style="color: #2e045e; font-family: 'Delius', 'Recursive', 'Georgia';">{chapters[latestChapter].title}</a>
            </h3>
            <div></div>
         </div>
         <Banner />
    </Article>
    <hr class="section" />
    {
        Misunderstood.map(async (chapter) => {
            const { Content, remarkPluginFrontmatter } = await render(chapter);
            const previous = Misunderstood[chapter.data.chapter - 2] ? Misunderstood[chapter.data.chapter - 2].data.href : '';
            const next = Misunderstood[chapter.data.chapter] ? Misunderstood[chapter.data.chapter].data.href : '';
            const lastModified = dayjs(remarkPluginFrontmatter.lastModified).utc();
            const readingTime = remarkPluginFrontmatter.minutesRead;
            return (<>
                <Chapter articleId={chapter.data.id} chapterNameHeading={chapter.data.title} previousChapterSrc={`/misunderstood/simple${previous}`} nextChapterSrc={`/misunderstood/simple${next}`}>
                    <div>
                        <div class="chi">
                            <a class="chb" href={`/misunderstood/simple/${chapter.id}`}>Single Chapter</a>
                            <p class="chb"><span class="notes">Reading Time:</span> {readingTime}</p>
                            <p class="chb"><span class="notes">Last Modified:</span> {lastModified.format('dddd, DD MMMM YYYY')} at {lastModified.format('h:mm a')}</p>
                        </div>
                    </div>
                    <Content />
                    <div class="end">
                        <hr class="middle" />
                        <div class="chapter-postnav">
                            { 
                                previous === '' ? <a class="menu chnav fake-btn"><Icon name="hugeicons:arrow-left-04" width="24" height="24" /></a> : <a href={`/misunderstood/simple${previous}`} class="menu chnav button back-to-top"><Icon name="hugeicons:arrow-left-04" width="24" height="24" /></a>
                            }
                            <a href="#top" class="menu chnav button back-to-top"><Icon name="hugeicons:arrow-up-04" width="24" height="24" /></a>
                            {
                                next === '' ? <a class="menu chnav fake-btn"><Icon name="hugeicons:arrow-right-04" width="24" height="24" /></a> : <a href={`/misunderstood/simple${next}`} class="menu chnav button back-to-top"><Icon name="hugeicons:arrow-right-04" width="24" height="24" /></a>
                            }
                        </div>
                        <hr />
                        <div class="single-chapter">
                            <a href={`/misunderstood/simple/${chapter.id}`} class="menu chnav button">Single Chapter</a>
                        </div>
                    </div>
                </Chapter>
                <hr class="section" />
            </>);
        })
    }
</Layout>

<style>
    .middle {
        position: sticky;
        bottom: 75px;
    }
    .chi {
        width: calc(100% + 60px);
        margin-left: -40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .chb {
        vertical-align: middle;
        font-family: 'Delius';
        font-size: 1.2rem;
        text-decoration: none;
        color: currentColor;
    }
    a.chb {
        text-decoration-line: overline underline;
        text-decoration-style: wavy;
        text-decoration-thickness: 3px;
        text-decoration-color: #677040;
    }
    a.chb:hover, a.chb:focus {
        scale: 110%;
        color: #00f;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: 3px;
    }
    .end {
        /* background-color: #ff03; */
        position: sticky;
        bottom: -53px;
        background-color: rgba(162, 143, 124, 98%);
    }
    .chapter-postnav {
        /* background-color: #f0f2; */
        width: calc(100% + 60px);
        margin-left: -40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .button {
        text-indent: 0;
        height: max-content;
    }
    .single-chapter {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        margin: 40px auto;
    }
    .chapterStats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 80ch;
    }
    .text {
        width: fit-content;
        font-family: "Delius", "Recursive";
    }
    .notes {
        font-family: "Delius";
        font-size: 1.2rem;
    }
    @media print {
        .chapterStats, .text, .notes {
            display: none;
        }
    }
</style>
<style is:global>
    @media print {
        .byline {
            display: none;
        }
    }
</style>