---
import "@/styles/main.css";
import favicon from "@/assets/images/favicon.png"
import dayjs from 'dayjs';

const today = dayjs();

import { Icon } from "astro-icon/components";

import { Navigation, Anchor, defaultLinks } from "@/components/react/Navigation.jsx";
import { defineMiddleware } from "astro:middleware";

const { 
    headTitle="Merther", 
    pageTitle="Merther Fanfiction", 
    author="BraveGrumpy", 
    link=false, 
    frontmatter, 
    mainLinks = defaultLinks,
    secondaryLinks
} = Astro.props;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="fanfiction, writing, smut, pornography, noncon, darkfic">
		<meta name="description" content="Erotic Fanfiction of BBC Merlin">
		<link rel="icon" href={favicon.src}>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{headTitle}</title>
        <style is:global>
            .chnav-container {
                justify-content: center;
            }
            .chnav {
                font-size: 1.5rem;
                width: 40ch;
                height: fit-content;
            }
            .fake-btn:hover {
                opacity: 50%;
            }
            .text-gradient {
                text-align: center;
                width: 100%;
            }
            h2 {
                font-size: 1.9rem;
            }
            .return {
                color: blue;
                text-decoration: underline;
                cursor: pointer;
            }
            .menu-container {
                margin-bottom: 60px;
            }
            .back-to-top:hover {
                height: fit-content;
                scale: 105%;
            }
        </style>
	</head>
	<body style="visibility:hidden">
		<script>0</script>
		<header>
            {
                mainLinks ? 
                    <Navigation>{
                        mainLinks.map((link: any) => <Anchor href={link.href} text={link.text} />)}</Navigation> :
                    <p></p>
            }
		    <h1 class="text-gradient text-center">{pageTitle}</h1>
            <p class="byline">Written by {link ? <a href={`${link}`} target="_blank">{author}</a> : author}</p>
            {
                secondaryLinks
                ? <Navigation>
                    {
                        secondaryLinks.map(
                            (link: any) => <Anchor href={link.href} text={link.text} />
                        )
                    }
                </Navigation>
                : ""

            }
		</header>
        <main>
            <hr class="section start">
            <slot>
                <article>
                    <h2 class="text-gradient">Under Construction</h2>
                    <div id="under-construction">
                        <p>Please hold while this page is building....</p>
                        <p>A representative should get back to you with a completed page in 3 to 5 business weeks.</p>
                        <p>If you don't feel like waiting, <span class="return" onclick="history.back()">go back to where you came from</span>.</p>
                        <hr>
                        <h3>Elevator music from the queue starts playing&hellip;<span></span></h3>
                        <p style="text-align: center;"><Icon name="svg-spinners:bars-scale-middle" size={200} style="color: #2e045e12;" /></p>
                        <nav class="menu-container chnav-container">
                            <button class="menu back-to-top chnav" onclick="history.back()">Go back </button>
                        </nav>
                    </div>
                </article>
            </slot>
            <hr class="section end">
        </main>
		<footer>
			<p>Copyright &copy; {today.format('YYYY')} <a href="https://www.bravegrumpy.com" target="_blank">Bravegrumpy</a></p>
			<p style="font-size: 0.85rem; width:35ch; text-align: center;">This is an unofficial fan site and is not affiliated with <em>BBC Merlin</em> or <abbr title="Organization for Transformative Works"><a href="https://transformativeworks.org" target="_blank">OTW</a></abbr></p>
			<p>All Rights Reserved </p>
		</footer>
		<script src="@/scripts/visibility.js"></script>
		<noscript>
			<style>
				body {
					visibility: visible;
				}
			</style>
		</noscript>
	</body>
</