---
import "@/styles/main.css";
// import favicon from "@/assets/images/favicon.png"
const favicon = {
  src: "https://cdn.bravegrumpy.com/AO3Styles/images/favicon.png",
};

import { ClientRouter } from "astro:transitions";

import UnstyledLayout from "./UnstyledLayout.astro";

import { Icon } from "astro-icon/components";

import {
  Navigation,
  Anchor,
  defaultLinks,
  StyleToggle
} from "@/components/react/Navigation";

let {
  headTitle = "Merther",
  pageTitle = "Merther Fanfiction",
  author = "BraveGrumpy",
  link = false,
  frontmatter,
  mainLinks = defaultLinks,
  secondaryLinks,
  topLine = false,
  bottomLine = true,
  topInitialDisplay = "flex",
  bottomInitialDisplay = "none",
  stopFlash=false
} = Astro.props;

headTitle = frontmatter ? frontmatter.headTitle : headTitle;
pageTitle = frontmatter ? frontmatter.pageTitle : pageTitle;
author = frontmatter ? frontmatter.author : author;
link = frontmatter ? frontmatter.link : link;
mainLinks = frontmatter
  ? frontmatter.mainLinks
    ? frontmatter.mainLinks
    : mainLinks
  : mainLinks;
secondaryLinks = frontmatter
  ? frontmatter.secondaryLinks
    ? frontmatter.secondaryLinks
    : secondaryLinks
  : secondaryLinks;
topLine = frontmatter ? frontmatter.topLine : topLine;
bottomLine = frontmatter ? frontmatter.bottomLine : bottomLine;
topInitialDisplay = frontmatter
  ? frontmatter.topInitialDisplay
    ? frontmatter.topInitialDisplay
    : topInitialDisplay
  : topInitialDisplay;
bottomInitialDisplay = frontmatter
  ? frontmatter.bottomInitialDisplay
    ? frontmatter.bottomInitialDisplay
    : bottomInitialDisplay
  : bottomInitialDisplay;

import "@fontsource/delius";
import "@fontsource-variable/recursive";
import "@fontsource/style-script";

import { Footer } from "@/components/react/Components";
---

<UnstyledLayout headTitle={headTitle} favicon={favicon} stopFlash={stopFlash}>
  <slot name="head" />
  <Fragment slot="head">
    <ClientRouter />
    <style is:global>
      *,
      body {
        font-family: "Recursive";
      }
      main {
        font-family: "Recursive";
      }
      p {
        font-family: "Recursive";
      }
    </style>
    <style>
      .tmp-container {
        justify-content: center;
      }
      .pages-container {
        margin-bottom: 60px;
      }
      .tmp {
        font-size: 1.5rem;
        width: 40ch;
        height: fit-content;
      }
      .fake-btn:hover {
        opacity: 50%;
      }
      .text-gradient {
        text-align: center;
        width: 100%;
      }
      h2 {
        font-size: 1.9rem;
      }
      .return {
        color: blue;
        text-decoration: underline;
        /* cursor: pointer; */
      }
      .back-to-top:hover {
        height: fit-content;
        scale: 105%;
      }
    </style>
  </Fragment>
  <header>
    <script is:inline>
      function toggleMainMenu() {
        const menu = document.querySelector("#main-nav");
        switch(menu.style.display) {
          case 'none':
            menu.style.display = 'flex';
            menu.style.flexDirection = 'column';
            break;
          case 'flex':
            menu.style.display = 'none';
            menu.style.flexDirection = 'unset';
            menu.style.flexWrap = 'unset';
          default:
        }
      }
    </script>
    <button onclick="toggleMainMenu()" id="mainMenuToggle" class="menu pages chnav chnav-start" style={{marginLeft: "70px", width: "calc(100% - 80px);"}}>
      <Icon name="hugeicons:menu-01" />
    </button>
    {
      mainLinks ? (
        <Navigation
          id="main-nav"
          line={topLine}
          displayStyle={topInitialDisplay}
        >
          {mainLinks.map((link: any) => (
            <Anchor keyId={link.key} href={link.href} text={link.text} />
          ))}
        </Navigation>
      ) : (
        <p />
      )
    }
    <slot name="pageTitle">
      <h1 class="text-gradient text-center">{pageTitle}</h1>
    </slot>
    <div
      style={{
        display: "flex",
        flexDirection: "row",
        justifyContent: "space-between",
        alignItems: "center",
        paddingBottom: "20px",
      }}
    >
      {
        author ? (
          <p class="byline" style={{ display: "inline", width: "fit-content" }}>
            Written by{" "}
            {link ? (
              <a href={`${link}`} target="_blank">
                {author}
              </a>
            ) : (
              author
            )}
          </p>
        ) : (
          <slot name="author" />
        )
      }
      <slot name="header" />
    </div>
    {
      secondaryLinks ? (
        <Navigation
          id="top-nav"
          line={bottomLine}
          displayStyle={bottomInitialDisplay}
        >
          {secondaryLinks.map((link: any) => (
            <Anchor
              keyId={`secondary_key_${link.key}`}
              href={link.href}
              text={link.text}
            />
          ))}
        </Navigation>
      ) : (
        ""
      )
    }
  </header>
  <main>
    <hr class="section start" />
    <slot>
      <article>
        <h2 class="text-gradient">Under Construction</h2>
        <div id="under-construction">
          <p>Please hold while this page is building....</p>
          <p>
            A representative should get back to you with a completed page in 3
            to 5 business weeks.
          </p>
          <p>
            If you don't feel like waiting, <span
              class="return"
              onclick="history.back()">go back to where you came from</span
            >.
          </p>
          <hr />
          <h3>
            Elevator music from the queue starts playing&hellip;<span></span>
          </h3>
          <p style={{textAlign: "center"}}>
            <Icon
              name="svg-spinners:bars-scale-middle"
              size={200}
              style={{color: "#2e045e12"}}
            />
          </p>
          <nav class="menu-container chnav-container tmp-container">
            <button class="menu back-to-top chnav tmp" onclick="history.back()"
              >Go back
            </button>
          </nav>
        </div>
      </article>
    </slot>
    <hr class="section end" />
  </main>
  <Footer />
</UnstyledLayout>
