---
import "@/styles/main.css";
// import favicon from "@/assets/images/favicon.png"
const favicon = {
  src: "https://cdn.bravegrumpy.com/AO3Styles/images/favicon.png",
};

import { ClientRouter } from "astro:transitions";

import UnstyledLayout from "./UnstyledLayout.astro";

import { Icon } from "astro-icon/components";

import {
  Navigation,
  Anchor,
  defaultLinks,
} from "@/components/react/Navigation";

let {
  headTitle = "Merther",
  pageTitle = "Merther Fanfiction",
  author = "BraveGrumpy",
  link = false,
  frontmatter,
  mainLinks = defaultLinks,
  secondaryLinks,
  topLine = false,
  bottomLine = true,
  topInitialDisplay = "flex",
  bottomInitialDisplay = "none",
  stopFlash=false
} = Astro.props;

headTitle = frontmatter ? frontmatter.headTitle : headTitle;
pageTitle = frontmatter ? frontmatter.pageTitle : pageTitle;
author = frontmatter ? frontmatter.author : author;
link = frontmatter ? frontmatter.link : link;
mainLinks = frontmatter
  ? frontmatter.mainLinks
    ? frontmatter.mainLinks
    : mainLinks
  : mainLinks;
secondaryLinks = frontmatter
  ? frontmatter.secondaryLinks
    ? frontmatter.secondaryLinks
    : secondaryLinks
  : secondaryLinks;
topLine = frontmatter ? frontmatter.topLine : topLine;
bottomLine = frontmatter ? frontmatter.bottomLine : bottomLine;
topInitialDisplay = frontmatter
  ? frontmatter.topInitialDisplay
    ? frontmatter.topInitialDisplay
    : topInitialDisplay
  : topInitialDisplay;
bottomInitialDisplay = frontmatter
  ? frontmatter.bottomInitialDisplay
    ? frontmatter.bottomInitialDisplay
    : bottomInitialDisplay
  : bottomInitialDisplay;

import "@fontsource/delius";
import "@fontsource-variable/recursive";
import "@fontsource/style-script";

import { Footer } from "@/components/react/Components";
---

<UnstyledLayout headTitle={headTitle} favicon={favicon} stopFlash={stopFlash}>
  <slot name="head" />
  <Fragment slot="head">
    <ClientRouter />
    <style is:global>
      *,
      body {
        font-family: "Recursive";
      }
      main {
        font-family: "Recursive";
      }
      p {
        font-family: "Recursive";
      }
    </style>
    <style>
      .tmp-container {
        justify-content: center;
      }
      .pages-container {
        margin-bottom: 60px;
      }
      .tmp {
        font-size: 1.5rem;
        width: 40ch;
        height: fit-content;
      }
      .fake-btn:hover {
        opacity: 50%;
      }
      .text-gradient {
        text-align: center;
        width: 100%;
      }
      h2 {
        font-size: 1.9rem;
      }
      .return {
        color: blue;
        text-decoration: underline;
        cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%235229ae' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m8.99 22.001l-.047-.772l-.175-.745c-.552-2.186-1.324-2.428-2.552-3.994c-.555-.707-1.556-1.667-2.503-3.02c-.632-.903.154-3.058 2.075-2.433c.32.104.588.312.826.541l1.863 1.891c-.015-2.532.02-8.515-.02-10.097c-.042-1.582 2.827-2.091 2.997.072v5.594m0 0v.937m0-.937c.938-1.19 2.714-1.232 2.972.76m0 0c.042.324.045.703 0 1.14m0-1.14c.474-1.392 2.633-.848 3.047.771m0 0c.099.384-.04.886 0 1.399m0-1.399c.27-.78 3.293-.74 3.01 2.275l-.036 2.705c0 1.605-.214 2.35-.827 3.138c-.226.292-.54.583-.759.903a2.1 2.1 0 0 0-.329.837c-.066.416-.075.991-.055 1.542' color='%235229ae'/%3E%3C/svg%3E"), pointer;
      }
      .back-to-top:hover {
        height: fit-content;
        scale: 105%;
      }
    </style>
  </Fragment>
  <header>
    {
      mainLinks ? (
        <Navigation
          id="main-nav"
          line={topLine}
          displayStyle={topInitialDisplay}
        >
          {mainLinks.map((link: any) => (
            <Anchor keyId={link.key} href={link.href} text={link.text} />
          ))}
        </Navigation>
      ) : (
        <p />
      )
    }
    <slot name="pageTitle">
      <h1 class="text-gradient text-center">{pageTitle}</h1>
    </slot>
    <div
      style={{
        display: "flex",
        flexDirection: "row",
        justifyContent: "space-between",
        alignItems: "center",
        paddingBottom: "20px",
      }}
    >
      {
        author ? (
          <p class="byline" style={{ display: "inline", width: "fit-content" }}>
            Written by{" "}
            {link ? (
              <a href={`${link}`} target="_blank">
                {author}
              </a>
            ) : (
              author
            )}
          </p>
        ) : (
          <slot name="author" />
        )
      }
      <slot name="header" />
    </div>
    {
      secondaryLinks ? (
        <Navigation
          id="top-nav"
          line={bottomLine}
          displayStyle={bottomInitialDisplay}
        >
          {secondaryLinks.map((link: any) => (
            <Anchor
              keyId={`secondary_key_${link.key}`}
              href={link.href}
              text={link.text}
            />
          ))}
        </Navigation>
      ) : (
        ""
      )
    }
  </header>
  <main>
    <hr class="section start" />
    <slot>
      <article>
        <h2 class="text-gradient">Under Construction</h2>
        <div id="under-construction">
          <p>Please hold while this page is building....</p>
          <p>
            A representative should get back to you with a completed page in 3
            to 5 business weeks.
          </p>
          <p>
            If you don't feel like waiting, <span
              class="return"
              onclick="history.back()">go back to where you came from</span
            >.
          </p>
          <hr />
          <h3>
            Elevator music from the queue starts playing&hellip;<span></span>
          </h3>
          <p style={{textAlign: "center"}}>
            <Icon
              name="svg-spinners:bars-scale-middle"
              size={200}
              style={{color: "#2e045e12"}}
            />
          </p>
          <nav class="menu-container chnav-container tmp-container">
            <button class="menu back-to-top chnav tmp" onclick="history.back()"
              >Go back
            </button>
          </nav>
        </div>
      </article>
    </slot>
    <hr class="section end" />
  </main>
  <Footer />
</UnstyledLayout>
